/* This page is to address the body design of P1-P2 */
.center-table-container {
    margin: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.items{
    width: 100%;
    overflow: auto;
}
.center-table-items {
    width: 300px;
}
.item-images {
    display: block;
    margin: auto;
}
.item-name {
    text-align: center;
    font-size: 2.5rem;
}
.sale {
    text-align: center;
}
.description {
    text-align: center;
}
.before-price {
    text-decoration: line-through;
}
.sale {
    color: rgb(192, 74, 74);
}
