/* This page specifies the design of the body for P3 */
html, body{
    min-height: 100%;
    height: 100%;
}
/* box in grid */
.grid-container {
    background-color: white;
    height: 100%;
    margin:auto;
    margin-bottom: 1%;
    margin-bottom: 1%;
    padding:1%;
    width:90%;
    display: grid;
    grid-template-columns: 30% 60%;
    overflow: auto;
    border: solid;
    border-color: #a0b284;
    border-radius: 5px;
}
/* "Product Description" */
.item2 h3 {
    font-weight: bold;
}
/* box of image and name */
.item1{
    padding:3%;
    grid-row: 1;
    grid-column: 1 / span 2;
    border-bottom: solid;
    border-color: #a0b284;
    border-width: 1px;
}
/* box of product description */
.item2{
    padding:3%;
    grid-row: 2;
    grid-column: 1 / span 2;
    border-bottom: solid;
    border-color: #a0b284;
    border-width: 1px;
}
/* box of quantity and total */
.item3{
    padding:3%;
    grid-row: 3;
    grid-column: 1 / span 2;
}
@media only screen and (min-width: 650px){
    .grid-container {
        width:60%;
    }
}
@media only screen and (min-width: 1184px){
.item1 {
    grid-column: 1;
    grid-row: 1/ span 2;
    border-bottom: none;
    border-right: solid;
    border-color: #a0b284;
    border-width: 2px;
}
.item2 {
    grid-column: 2;
    grid-row: 1;
    border-bottom: solid;
    border-color: #a0b284;
    border-width: 1px;
}
.item3 {
    grid-column: 2;
    grid-row: 2;
    border-top: solid;
    border-color: #a0b284;
    border-width: 1px;
}}
/* read more text */
#more {
    display: none;
}
/* product page title */
.product-title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
/* product name */
.product-name {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
}
/* product description details */
#description {
    padding-top: 5px;
}
/* price */
.description {
    padding-top: 5px;
}
/* form with quantity and add to cart */
.form {
    margin-bottom: 5px;
}
/* input for quantity and total */
input[type=number], input[type=text] {
    border: 2px solid #64c472;
    box-sizing: border-box;
    border-radius: 3px;
}
/* add to cart */
input[type=submit]  {
    border: none;
    border-radius: 3px;
    background-color: #07942c;
    color: white;
    padding: 5px;
}
/* read more button */
#readmore {
    padding:0;
    border: none;
    background-color: white;
    color:blueviolet;
}
