/* This page deals with the "aisles" page design */

.aisle-box {
    margin: 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.aisle-box-items {
    padding: 1%;
    text-align: center;
}